
.helloworld-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

.greencircle-icon {
    background-image: url("icons/green.png");
    background-size: 20px;
    height: 20px;
    width: 20px;
}

.redcircle-icon {
    background-image: url("icons/red.png");
    background-size: 20px;
    height: 20px;
    width: 20px;
}

.greycircle-icon {
    background-image: url("icons/grey.png");
    background-size: 20px;
    height: 20px;
    width: 20px;
}
