
.lostconnection-label {
    font-size: 50px;
    font-weight: bold;
    color: #ff0000;
    background-color: rgba(10,10,10,1);
    border-radius: 10px;
    padding: .5em;
}

.gainedconnection-label {
    font-size: 50px;
    font-weight: bold;
    color: #3fff00;
    background-color: rgba(10,10,10,1);
    border-radius: 10px;
    padding: .5em;
}

.greencircle-icon {
    background-image: url("icons/green.png");
    background-size: 20px;
    height: 20px;
    width: 20px;
}

.redcircle-icon {
    background-image: url("icons/red.png");
    background-size: 20px;
    height: 20px;
    width: 20px;
}

.greycircle-icon {
    background-image: url("icons/grey.png");
    background-size: 20px;
    height: 20px;
    width: 20px;
}
